@import "../common/lib.less";

#project {
  background-color: @color-theme;
  padding: 100px 12px;
  &-title {
    margin: 0;
  }
  &-image {
    background-size: cover;
    background-position: center;
    max-width: 960px;
    max-height: 500px;
    margin: 30px 0;
  }
  &-description {
    text-align: left;
    line-height: 40px;
    font-family: 1.5em;
  }
}
