extend ../views/main

block content
  section.hero.u-fullHeight.u-flex
    div.hero-textContainer
      h1.hero-name Ryan Perry-Nguyen
      h2.hero-subtitle 2A Computer Engineering Student
      h2.hero-subtitle Devoted Software Developer
