extend ../views/main

block content
  section.hero.u-fullHeight.u-flex
    div.hero-textContainer
      h1.hero-name Ryan Perry-Nguyen
      h2.hero-subtitle.hero-studentTitle 2B Computer Engineering Student
      img.hero-seperatorGraphic(src='/images/seperatorGraphic.png')
      h2.hero-subtitle.hero-positionTitle Devoted Software Developer
