<section id="hero" class="u-centerChild">
  <div id="hero-textContainer">
    <h1 id="hero-name" class="u-noBold">Ryan Perry-Nguyen</h1>
    <h2 class="hero-about u-noBold">2A Waterloo Computer Engineering Student</h2>
    <h2 id="hero-about-dev" class="hero-about u-noBold">Devoted Software Developer</h2>
  </div>
</section>

<section id="about" class="pure-g u-widthWrapper">
  <div class="u-centerText pure-u-1 pure-u-md-1-2">
    <img class="image-me" src="/images/me.jpg">
  </div>
  <div class="pure-u-1 pure-u-md-1-2">
    <h3 id="about-title">
      About me
    </h3>
    <p id="about-description">
      Hey there, I'm Ryan Perry-Nguyen. I'm a passionate mobile, web, and aspiring full stack developer currently studying at the University of Waterloo. Below you can find a list of hackathon and personal projects that I've finished in my spare time. Click on any of them to read about them.
    </p>
  </div>
</section>

<section id="projects">
  <div id="projects-grid" class="pure-g">
    {{#each projects}}
      <a class="project-item u-centerText pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4" style="background-color: #{{this.backgroundColor}}" target="_blank" href="/projects/{{this.link}}" onmouseover="setProjectPadding(this, 20)" onmouseout="setProjectPadding(this, 40)">
        <div>
          <h3 class="project-title u-centerText u-noBold">{{this.title}}</h1>
          <img class="project-image pure-img" src="{{this.imageUrl}}">
        </div>
      </a>
    {{/each}}
  </div>
</section>
