extend ../views/main

block content
  main
    section.hero.u-fullHeight.u-flex
      div.hero-textContainer
        h1.hero-name Ryan Perry-Nguyen
        h2.hero-subtitle.hero-studentTitle 2B Computer Engineering Student
        img.hero-seperatorGraphic(src="/images/seperatorGraphic.png")
        h2.hero-subtitle.hero-positionTitle Devoted Software Developer
  
    section.about.u-widthWrapper
      div.about-picContainer
        img.about-pic(src="/images/me_bw.jpg")
      div.about-descriptionContainer
        h2.about-descriptionTitle About Me
        p.about-descriptionText
          | Hey there, I'm Ryan Perry-Nguyen. I'm a passionate mobile, 
          | web, and aspiring full stack developer currently studying
          | at the University of Waterloo. Below you can find a list 
          | of hackathon and personal projects that I've finished in
          | my spare time. Click on any that catch your eye to read 
          | more about them.
          
    section.projects
      div.projects-wrapper.u-widthWrapper
        div.projects-itemContainer
          img.projects-itemPic(src="/images/projects/robotoviews--thumbnail.png")
          a(href="/").projects-itemLink Roboto Views
        div.projects-itemContainer
          img.projects-itemPic(src="/images/projects/uberprepared--thumbnail.png")
          a(href="/").projects-itemLink Uber Prepared
        div.projects-itemContainer
          img.projects-itemPic(src="/images/projects/yodoorbell--thumbnail.png")
          a(href="/").projects-itemLink Yo Doorbell
        div.projects-itemContainer
          img.projects-itemPic(src="/images/projects/carpuwl--thumbnail.png")
          a(href="/").projects-itemLink CarpUWL
        div.projects-itemContainer
          img.projects-itemPic(src="/images/projects/pixelperfectpieceofpizza--thumbnail.png")
          a(href="/").projects-itemLink PPPoP Bot
        div.projects-itemContainer
          img.projects-itemPic(src="/images/projects/exploreto--thumbnail.png")
          a(href="/").projects-itemLink ExploreTO
