extend ../views/main

block content
  main
    section.hero.u-fullHeight.u-flex
      div.hero-textContainer
        h1.hero-name Ryan Perry-Nguyen
        h2.hero-subtitle.hero-studentTitle 2B Computer Engineering Student
        img.hero-seperatorGraphic(src="/images/seperatorGraphic.png")
        h2.hero-subtitle.hero-positionTitle Devoted Software Developer
  
    section.about.u-widthWrapper
      div.about-picContainer
        img.about-pic(src="/images/me_bw.jpg")
      div.about-descriptionContainer
        h2.about-descriptionTitle About Me
        p.about-descriptionText
          | Hey there, I'm Ryan Perry-Nguyen. I'm a passionate mobile, 
          | web, and aspiring full stack developer currently studying
          | at the University of Waterloo. Below you can find a list 
          | of hackathon and personal projects that I've finished in
          | my spare time. Click on any that catch your eye to read 
          | more about them.
          
    section.projects
      div.projects-wrapper.u-widthWrapper
        //-div.projects-itemContainer
          //-img.projects-itemPic(src="/images/projects/robotoviews--thumbnail.png")
          //-a(href="/").projects-itemLink Roboto Views
        div.project-item
          div.project-main
            div.project-mainOverlay
            div.project-mainTitle Roboto Views
          div.project-description RobotoViews is an android library that makes it easy to use Google's Roboto fonts via xml in Android, which is otherwise impossible. RobotoViews was made using the Eclipse IDE.
