doctype html

html
  head
    title Ryan Perry-Nguyen
    
    // google fonts
    link(href="http://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet", type="text/css")
    
    // Normalize.css
    link(href="/bower/normalize.css/normalize.css", rel="stylesheet", type="text/css")
    
    link(href="/client/theme.css", rel="stylesheet", type="text/css")
    
    each style in styles 
      link(href="/client/" + style + ".css", rel="stylesheet", type="text/css")
    
  body
    header
      nav.navbar
        ul.navbar-list
          li.navbar-list-item
            a.navbar-link(href='/') Home
          li.navbar-list-item
            a.navbar-link(href='/resume') Resume
          li.navbar-list-item
            a.navbar-link(href='https://github.com/rperryng/rperryng.com') Source
          li.navbar-list-item
            a.navbar-link(href='/') Wao
    
    main(class = fullScreenBanner ? "u-fullHeight" : "")
      block content
