<section id="project">
  <div class="u-centerText u-widthWrapper">
    <h1 id="project-title" class="u-noBold u-whiteText">{{project.title}}</h1>
    <img id="project-image" src="{{project.imageUrl}}">
    <p id="project-description" class="u-whiteText">{{project.description}}</p>
  </div>
</section>
