@import "../common/lib.less";

#banner {
  // background-color: @color-theme;
  background-image: url("/images/yhack3.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  text-align: center;
  &-name {
    color: white;
    font-size: 6vw;
  }
  &-about-dev {
    border-top: 1px solid white;
  }
}
.banner-about {
  color: white;
  font-size: 4vw;
}

@media(max-width: 1024px) {
  #banner-textContainer {
    width: 80%;
  }
}

.image-me {
  border: 6px solid @color-theme;
  border-radius: 50%;
  height: 300px;
  width: 300px;
}
#about {
  padding: 40px;
  &-title {
    color: @color-theme;
  }
  &-description {
    font-size: 20px;
    line-height: 40px;
    text-align: justify;
  }
}

#projects {
  display: flex;
  flex-direction: horizontal;
  flex-wrap: nowrap;
  background-color: @color-theme;
}

.project {
  &-item {
    padding: 20px;
    text-decoration: none;
  }
  &-title {
    color: white;
    font-size: 2.3em;
  }
  &-image {
    border-radius: 6px;
    padding: 40px
  }
}
