// Hero section
@import "../common/fonts.less";

@smallScreen: ~"only screen and (max-width: 1024px)";

.hero {
  background-image: url('/images/hero.png');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  text-align: center;

  &-textContainer {
    align-self: center;
    margin: auto;
    max-width: 50%;

    @media @smallScreen {
      max-width: 90%;
    }
  }

  &-name {
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
    font-size: 4.5vw;
    padding: 0 10px 12px;
    text-align: center;

    @media @smallScreen {
      font-size: 6vw;
    }
  }

  &-subtitle {
    .f-proximaNova;
    color: #ffffff;
    font-size: 1.8vw;
    text-transform: uppercase;
    text-decoration: none;

    @media @smallScreen {
      font-size: 3vw;
    }
  }

  &-studentTitle {
    margin: 30px 0 2px;
    padding: 0;
  }

  &-positionTitle {
    margin: 0;
    padding: 0;
  }

  &-seperatorGraphic {
    width: 3.5vw;
  }
}
